<template>
  <div>
    <div class="field">
      <label class="label">description</label>
      <input
        type="text"
        class="input"
        :value="active.description"
        @input="setInputValue('description', $event.target.value)">
    </div>

    <div class="field">
      <label class="label">Calories</label>
      <input
        type="number"
        class="input"
        :value="active.calories"
        @input="setInputValue('calories', $event.target.value)">
    </div>

    <b-field label="Select time you eat">
      <b-datetimepicker
          placeholder="Type or select a date..."
          icon="calendar-today"
          editable
          @input="setTimeValue"
          :value="getDateActive">
      </b-datetimepicker>
    </b-field>

    <button class="button is-primary" @click="save()">save</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'UserNewForm',
  props: {
    save: {
      type: Function,
      required: true,
    },
  },
  destroyed(){
    this.resetActive();
  },
  computed: {
    ...mapGetters({
      active: 'adminMeal/active',
    }),
    getDateActive() {
      return new Date(this.active.eat_time);
    },
  },
  methods: {
    ...mapActions({
      updateActive: 'adminMeal/updateActive',
      resetActive:'adminMeal/resetActive',
    }),
    setInputValue(property, value) {
      this.updateActive({ property, value });
    },
    setTimeValue(value) {
      this.updateActive({ property: 'eat_time', value });
    },
  },
}
</script>