<template>
  <div class="columns">
    <b-field  class="column" label="Initial date">
      <b-datepicker
        placeholder="Select Data"
        icon="calendar-today"
        @input="setInitialDate"
        :max-date="filters.final_date"
        :value="filters.initial_date">
      </b-datepicker>
    </b-field>

    <b-field  class="column" label="final date">
      <b-datepicker
        placeholder="Select Data"
        icon="calendar-today"
        @input="setFinalDate"
        :min-date="filters.initial_date"
        :value="filters.final_date">
      </b-datepicker>
    </b-field>

    <b-field  class="column" label="initial Time">
      <b-timepicker
        placeholder="Select Time"
        icon="clock"
        @input="setInitialTime"
        :hour-format="12"
        :max-time="filters.final_time"
        :value="filters.initial_time">
      </b-timepicker>
    </b-field>

    <b-field  class="column" label="Final Time">
      <b-timepicker
        placeholder="Select Time"
        icon="clock"
        @input="setFinalTime"
        :hour-format="12"
        :min-time="filters.initial_time"
        :value="filters.final_time">
      </b-timepicker>
    </b-field>

    <div class="column">
      <button class="button" @click="getMealList">Search</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
  
export default {
  name: 'mealIndexFilter',
  computed: {
    ...mapGetters({
      filters: 'adminMeal/filters',
    }),
  },
  methods: {
    ...mapActions({
      updateFilters: 'adminMeal/updateFilters',
      getMealList: 'adminMeal/getList',
    }),
    setFilterValue(property, value) {
      this.updateFilters({ property, value });
    },
    setInitialDate(value) {
      this.setFilterValue('initial_date', value);
    },
    setFinalDate(value) {
      this.setFilterValue('final_date', value);
    },
    setInitialTime(value) {
      this.setFilterValue('initial_time', value);
    },
    setFinalTime(value) {
      this.setFilterValue('final_time', value);
    },
  },
};
</script>