<template>
  <div class="container">
    <meal-filter />
    <div class="mb-40" v-for="(day, date) in meals" v-bind:key="`day-${date}`">
      <h2 class="subtitle">{{ date }}</h2>

      <dynamic-table :data="day.items" :fields="fields">
        <template v-slot:item="{ item }">
          <td>{{ item.description }}</td>
          <td>{{ item.calories }}</td>
          <td>
            <format-date :date="item.eat_time" :format="formatDate" />
          </td>
          <td>
            <a @click="confirm(item.id)">Delete</a>
  
            <router-link
              :to="{ name: 'AdminMealEdit', params: { id: item.id } }">
              Editar
            </router-link>
          </td>
        </template>
      </dynamic-table>
      <h2 class="subtitle">total calories: {{ day.calories }}</h2>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DynamicTable from '@/shared/table/dynamicTable';
import formatDate from '@/shared/data/formatDate';
import mealFilter from '@/screens/Admin/Meal/components/Index/Filter';

export default {
  name: 'AdminMealIndex',
  components: {
    formatDate,
    mealFilter,
    DynamicTable,
  },
  data(){
    return {
      formatDate: "h:mm:ss a",
      fields: ['Description', 'Calories', 'Hour', 'Actions'],
    };
  },
  created() {
    this.filterMeal('user_id', this.$route.params.id);
    this.getMealList();
  },
  computed: {
    ...mapGetters({
      meals: 'adminMeal/list',
      user: 'user/active',
    }),
  },
  methods: {
    ...mapActions({
      getMealList: 'adminMeal/getList',
      deleteMeal: 'adminMeal/delete',
      updateFilters: 'adminMeal/updateFilters',
    }),
    filterMeal(property, value) {
      this.updateFilters({ property, value });
    },
    confirm(id) {
      this.$buefy.dialog.confirm({
          message: 'Are you sure you want delete this meal?',
          confirmText: 'Delete Meal',
          type: 'is-danger',
          onConfirm: () => this.deleteMeal(id)
      })
    },
  },
}
</script>