<template>
  <div class="container">
    <meal-new-form :save="create" />
  </div>
</template>

<script>
import MealNewForm from '@/screens/Admin/Meal/components/Form/Main';
import { mapActions } from 'vuex';

export default {
  name: 'MealNew',
  components: {
    MealNewForm,
  },
  created() {
    this.updateActive({ property: 'user_id', value: this.$route.params.id });
  },
  methods: {
    ...mapActions({
      create: 'adminMeal/create',
      updateActive: 'adminMeal/updateActive',
    }),
  },
};
</script>