<template>
  <span>
    {{ formatDate }}
  </span>
</template>

<script>
import moment from 'moment';

export default {
  name: 'FormatDate',
  props: {
    date: {
      type: String,
      default: '',
    },
    format: {
      type: String,
      default: 'MM/DD/YYYY, h:mm:ss a',
    },
    formatInput: {
      type: String,
      default: null,
    },
  },
  computed: {
    formatDate() {
      return this.date ? moment(this.date, this.formatInput).format(this.format) : 'Date not configured';
    },
  },
};
</script>
