<template>
  <div class="container">
    <user-new-form :save="update" />
  </div>
</template>

<script>
import UserNewForm from '@/screens/Admin/User/components/Form/Main';
import { mapActions } from 'vuex';
  
export default {
  name: 'UserNew',
  components: {
    UserNewForm,
  },
  created() {
    this.getUser(this.$route.params.id);
  },
  methods: {
    ...mapActions({
      update: 'adminUser/update',
      getUser:'adminUser/getUser',
    }),
  },
};
</script>