<template>
  <div class="container">
    <dynamic-table :data="users.items" :fields="fields">
      <template v-slot:item="{ item }">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.role }}</td>
        <td>
          <a @click="confirm(item.id)">Delete</a>

          <router-link
          :to="{ name: 'UserEdit', params: { id: item.id } }">
            Editar
          </router-link>

          <router-link
            :to="{ name: 'AdminMealIndex', params: { id: item.id } }"
            v-if="$userHasRoles($roles.ADMIN)">
              Meals
            </router-link>
        </td>
      </template>
    </dynamic-table>

    <pagination ref="pagination" :page-count="users.total_pages" @change="getUserpaginatedList" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import DynamicTable from '@/shared/table/dynamicTable';
import Pagination from '@/shared/table/pagination';

export default {
  name: 'UserNewForm',
  components: {
    DynamicTable,
    Pagination,
  },
  data() {
    return {
      fields: ['name', 'email', 'role', 'Ativo'],
    };
  },
  created() {
    this.getUserList();
  },
  computed: {
    ...mapGetters({
      users: 'adminUser/list',
    }),
  },
  methods: {
    ...mapActions({
      getUserList: 'adminUser/getList',
      deleteUser: 'adminUser/delete',
      updateFilters: 'adminUser/updateFilters',
    }),
    getUserpaginatedList() {
      const { page } = this.$route.query;
      this.updateFilters({ property: 'page', value: page });
      this.getUserList();
    },
    confirm(id) {
      this.$buefy.dialog.confirm({
          message: 'Are you sure you want delete this user?',
          confirmText: 'Delete User',
          type: 'is-danger',
          onConfirm: () => this.deleteUser(id)
      })
    },
  },
}
</script>