<template>
  <div class="container">
    <h1 class="title">Create New User</h1>
    <user-new-form :save="create" />
  </div>
</template>

<script>
import UserNewForm from '@/screens/Admin/User/components/Form/Main';
import { mapActions } from 'vuex';

export default {
  name: 'UserNew',
  components: {
    UserNewForm,
  },
  methods: {
    ...mapActions({
      create: 'adminUser/create',
    }),
  },
};
</script>