.banner {
    padding: 40px;
    height: 100vh;
    background-image: url('assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
  
    &:before {
      content: "";
      background: #fff;
      width: 40%;
      height: 100vh;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    &__logo {
      height: 25px;
      margin-bottom: 100px;
    }
  }