.pagination {
  .active a {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
  }

  .disabled a {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: .5;
  }
}