<template>
  <table class="table is-fullwidth is-bordered">
    <thead v-if="data.length > 0">
      <tr>
        <th v-for="(field, index) in fields" :key="index">
          {{ field }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in data" :key="index">
        <slot name="item" :item="item" />
      </tr>
    </tbody>
  </table>
</template>

<script>

export default {
  name: 'DynamicTable',
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    fields: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
