<template>
  <div v-show="pageCount > 1" class="is-pulled-right">
    <paginate
      ref="paginate"
      :page-count="pageCount"
      :page-range="2"
      :click-handler="getPage"
      prev-text="Anterior"
      next-text="Próximo"
      container-class="pagination"
      page-link-class="pagination-link"
      prev-link-class="pagination-previous"
      next-link-class="pagination-next" />
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate';

export default {
  name: 'Pagination',
  components: {
    Paginate,
  },
  props: {
    pageCount: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    currentPage() {
      return parseInt(this.$route.query.page, 10);
    },
  },
  watch: {
    $route() {
      this.$refs.paginate.selected = this.currentPage || 1;
    },
  },
  updated() {
    this.$refs.paginate.selected = this.currentPage || 1;
  },
  methods: {
    getPage(page) {
      this.setPage(page);
      this.$emit('change');
    },
    setPage(page) {
      this.$router.push({
        query: { ...this.$router.currentRoute.query, page },
      });
    },
  },
};
</script>
