<template>
  <public-form>
    <h1 class="title mb-40">Sign up</h1>

    <div class="field">
      <label class="label">Name</label>
      <input
        type="text"
        class="input"
        v-model="params.name">
    </div>

    <div class="field">
      <label class="label">Max colories per day</label>
      <input
        type="text"
        class="input"
        v-model="params.max_calories">
    </div>

    <div class="field">
      <label class="label">Email</label>
      <input
        type="text"
        class="input"
        v-model="params.email">
    </div>

    <div class="field">
      <label class="label">Password</label>
      <input
        type="password"
        class="input"
        v-model="params.password">
    </div>

    <button class="button is-primary mr-15" @click="signup()">Create account</button>

    <router-link to="/login" class="button">
      Login
    </router-link>
  </public-form>
</template>

<script>
import { mapActions } from 'vuex';
import publicForm from '@/shared/layout/publicForm';

export default {
  name: 'Singin',
  components: {
    publicForm,
  },
  data() {
    return {
      params: {},
    };
  },
  methods: {
    ...mapActions({
      create: 'signup/create',
    }),
    signup() {
      this.create({ data: this.params });
    },
  },
};
</script>