<template>
  <div class="container">
    <meal-new-form :save="update" />
  </div>
</template>

<script>
import MealNewForm from '@/screens/Meal/components/Form/Main';
import { mapActions } from 'vuex';
  
export default {
  name: 'UserNew',
  components: {
    MealNewForm,
  },
  created() {
    this.getMeal(this.$route.params.id);
  },
  methods: {
    ...mapActions({
      update: 'meal/update',
      getMeal:'meal/getMeal',
    }),
  },
};
</script>