<template>
  <div class="container">
    <meal-filter />
    <div class="mb-40" v-for="(day, date) in meals" v-bind:key="`day-${date}`">
      <h2 class="subtitle">{{ date }}</h2>
      <table 
        class="table is-fullwidth is-bordered" 
        :class="colorTable(day.calories)">
        <thead>
          <tr>
            <th>Description</th>
            <th>Calories</th>
            <th>Hour</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="meal in day.items" v-bind:key="`meal-${meal.id}`">
            <td>{{ meal.description }}</td>
            <td>{{ meal.calories }}</td>
            <td>
              <format-date :date="meal.eat_time" :format="formatDate" />
            </td>
            <td>
              <a @click="confirm(meal.id)">Delete</a>

              <router-link
              :to="{ name: 'MealEdit', params: { id: meal.id } }">
                Editar
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 class="subtitle">total calories: {{ day.calories }}</h2>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import formatDate from '@/shared/data/formatDate';
import mealFilter from '@/screens/Meal/components/Index/Filter';

export default {
  name: 'UserNewForm',
  components: {
    formatDate,
    mealFilter,
  },
  data(){
    return {
      formatDate: "h:mm:ss a",
    };
  },
  created() {
    this.getMealList();
  },
  computed: {
    ...mapGetters({
      meals: 'meal/list',
      user: 'user/active',
    }),
  },
  methods: {
    ...mapActions({
      getMealList: 'meal/getList',
      deleteMeal: 'meal/delete',
    }),
    confirm(id) {
      this.$buefy.dialog.confirm({
          message: 'Are you sure you want delete this meal?',
          confirmText: 'Delete Meal',
          type: 'is-danger',
          onConfirm: () => this.deleteMeal(id)
      })
    },

    colorTable(calories) {
      if (calories > this.user.max_calories) {
        return 'is-danger';
      }

      return 'is-success';
    }
  },
}
</script>