<template>
  <div>
    <section class="hero is-primary mb-40">
      <div class="hero-body">
        <div class="container">
          <div class="is-pulled-left">
            <nav
              v-if="!isOnList"
              class="breadcrumb has-succeeds-separator is-small is-marginless"
              aria-label="breadcrumbs">
              <ul>
                <li>
                  <router-link
                    :to="{ name: 'MealIndex' }">
                    Meal
                  </router-link>
                </li>
                <li class="is-active">
                  <a href="#" aria-current="page">{{ breadcrumb[breadcrumb.length-1] }}</a>
                </li>
              </ul>
            </nav>
            <h1 v-if="isOnList" class="title">
              Meals
            </h1>
            <h1 v-else class="title">
              {{ active.description }}
            </h1>
          </div>

          <router-link
            v-if="isOnList"
            class="button is-pulled-right"
            :to="{ name: 'MealNew' }">
            Create Meal
          </router-link>
        </div>
      </div>
    </section>
    <router-view />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'User',
  created() {
    this.getUser();
  },
  computed: {
    ...mapGetters({
      active: 'meal/active',
    }),
    isOnList() {
      return this.$route.name === 'MealIndex';
    },
    breadcrumb() {
      return this.$route.path.split('/').filter(item => item != "");
    },
  },
  methods: {
    ...mapActions({
      getUser: 'user/getUser',
    }),
  },
}
</script>