<template>
  <div class="container">
    <meal-new-form :save="create" />
  </div>
</template>

<script>
import MealNewForm from '@/screens/Meal/components/Form/Main';
import { mapActions } from 'vuex';

export default {
  name: 'MealNew',
  components: {
    MealNewForm,
  },
  methods: {
    ...mapActions({
      create: 'meal/create',
    }),
  },
};
</script>