<template>
  <div>
    <div class="field">
      <label class="label">Name</label>
      <input
        type="text"
        class="input"
        :value="active.name"
        @input="setInputValue('name', $event.target.value)">
    </div>

    <div class="field">
      <label class="label">Email</label>
      <input
        type="text"
        class="input"
        :value="active.email"
        @input="setInputValue('email', $event.target.value)">
    </div>

    <b-field label="Simple">
      <b-select 
        placeholder="Select Role" 
        expanded
        @input="setRoleValue"
        :value="active.role">
          <option
              v-for="option in roleOptions"
              :value="option.value"
              :key="option.value">
              {{ option.label }}
          </option>
      </b-select>
    </b-field>

    <div class="field">
      <label class="label">Password</label>
      <input
        type="password"
        class="input"
        @input="setInputValue('password', $event.target.value)">
    </div>

    <button class="button is-primary" @click="save()">save</button>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'UserNewForm',
  props: {
    save: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      roleOptions: [
        { label: 'Regular', value: 'REGULAR' },
        { label: 'Manager', value: 'MANAGER' },
        { label: 'Admin', value: 'ADMIN' },
      ],
    };
  },
  computed: {
    ...mapGetters({
      active: 'adminUser/active',
    }),
  },
  methods: {
    ...mapActions({
      updateActive: 'adminUser/updateActive'
    }),
    setInputValue(property, value) {
      this.updateActive({ property, value });
    },
    setRoleValue(value) {
      this.updateActive({ property: 'role', value });
    },
  },
}
</script>