.table {
  &.is-success th, 
  &.is-success td {
    border-color: $success;
    background: rgba($success, 0.15);
  }

  &.is-danger th, 
  &.is-danger td {
    border-color: $danger;
    background: rgba($danger, 0.15);
  }
}