<template>
  <div>
    <div class="banner">
      <div class="container">
        <img src="@/assets/images/logo.png" class="banner__logo">
        <div class="columns">
          <div class="column is-one-third">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'PublicForm',
};
</script>
  