<template>
  <div></div>
</template>

<script>
export default {
  name: 'Index',
  created() {
    this.redirect();
  },
  methods: {
    redirect() {
      if(this.$userHasRoles(this.$roles.MANAGER)) {
        return this.$router.push({ name: 'UserIndex' })
      }
      if(this.$userHasRoles(this.$roles.ADMIN)) {
        return this.$router.push({ name: 'UserIndex' })
      }
      return this.$router.push({ name: 'MealIndex' })
    }
  },
}
</script>