<template>
  <public-form>
    <h1 class="title is-marginless">Welcome Back!</h1>
    <p class="mb-40">
      Please enter email and password to have access in your account
    </p>

    <div class="field">
      <label class="label">Email</label>
      <input
        v-model="credentials.email"
        type="text"
        class="input" />
    </div>

    <div class="field">
      <label class="label">Senha</label>
      <input
        v-model="credentials.password"
        type="password"
        class="input" />
    </div>

    <button class="button is-primary mr-15" @click="login()">Login</button>

    <router-link to="/signup" class="button">
      Sign up
    </router-link>
  </public-form>
</template>

<script>
  import publicForm from '@/shared/layout/publicForm';
  import { mapActions } from 'vuex';

  export default {
    name: 'Login',
    components: {
      publicForm,
    },
    data() {
      return {
        credentials: {},
      };
    },
    methods: {
      login() {
        const redirectPath = this.$route.query.redirect || '/';
        this.authenticate({ credentials: this.credentials, redirectPath });
      },
      ...mapActions({
        authenticate: 'login/authenticate',
      }),
    },
  };
</script>